## Gathering Data: Best of Rotten Tomatoes Dataset.

In [1]:
import pandas as pd
df = pd.read_csv('bestofrt.tsv', sep='\t')

In [2]:
df.head()

   ranking  critic_score                      title  number_of_critic_ratings
0        1            99    The Wizard of Oz (1939)                       110
1        2           100        Citizen Kane (1941)                        75
2        3           100       The Third Man (1949)                        77
3        4            99             Get Out (2017)                       282
4        5            97  Mad Max: Fury Road (2015)                       370

### Webscrapping using BeautifulSoup

In [3]:
import requests
url = 'https://www.rottentomatoes.com/m/et_the_extraterrestrial'
response = requests.get(url)

with open("et_the_extraterrestrial.html", mode='wb') as file:
    file.write(response.content)

In [14]:
#import beautifulsoup and os
from bs4 import BeautifulSoup
import os

In [8]:
#make the soup
with open ('html files/et_the_extraterrestrial.html') as file:
    soup = BeautifulSoup(file, 'lxml')

In [10]:
#use the find method
soup.find('title')

In [13]:
soup.find('title').contents[0][:-len(' - Rotten Tomatoes')]

'E.T. The Extra-Terrestrial\xa0(1982)'

In [ ]:
df_list = []
folder = 'html files'
for movie